<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error404.php" responseMode="ExecuteURL" />
        </httpErrors>
        <urlCompression doDynamicCompression="true" />
        <rewrite>
            <rules>
                <rule name="Redirect keyman6-0-158-0.exe to /tamil" stopProcessing="true">
                    <match url="keyman/downloads/keyman6-0-158.+" />
                    <action type="Redirect" url="tamil/" appendQueryString="false" />
                </rule>

                <rule name="Redirect beta" stopProcessing="true">
                  <match url="^beta.*" />
                  <action type="Redirect" url="https://keyman.com/beta/" appendQueryString="false" />
                </rule>

                <!-- 2019-08-19 cauterizing tavultesoft.com landing pages -->

                <rule name="Redirect /70" stopProcessing="true">
                    <match url="^70(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/desktop/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /burmese" stopProcessing="true">
                    <match url="^burmese(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/burmese/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /ethiopic" stopProcessing="true">
                    <match url="^ethiopic(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/amharic/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /eurolatin" stopProcessing="true">
                    <match url="^eurolatin(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/eurolatin/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /greek" stopProcessing="true">
                    <match url="^greek(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/greek/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /ipa" stopProcessing="true">
                    <match url="^ipa(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/ipa/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /isis" stopProcessing="true">
                    <match url="^isis(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/keyboards?q=isis" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /keyboards?id" stopProcessing="true">
                    <match url="^keyboards(\/(index\.php)?)?$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="(id|ID|KeyboardID|keyboardid)=(.+)" />
                    </conditions>
                    <action type="Redirect" url="https://keyman.com/keyboards/{C:2}" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /keyboards?search" stopProcessing="true">
                    <match url="^keyboards(\/(index\.php)?)?$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="(Search|q)=(.+)" />
                    </conditions>
                    <action type="Redirect" url="https://keyman.com/keyboards/?q={C:2}" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /lswin, /lswin.php" stopProcessing="true">
                    <match url="^lswin(\.php.*|/.*)?" />
                    <action type="Redirect" url="https://laoscript.net/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /sinhala" stopProcessing="true">
                    <match url="^sinhala(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/sinhala/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /tamil" stopProcessing="true">
                    <match url="^tamil(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/tamil/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /tibetan" stopProcessing="true">
                    <match url="^tibetan(/.*)?" />
                    <action type="Redirect" url="https://keyman.com/tibetan/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /index.php" stopProcessing="true">
                    <match url="^((index\.php)|(\?.*)?)$" />
                    <action type="Redirect" url="https://keyman.com/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /products.php" stopProcessing="true">
                    <match url="^products\.php" />
                    <action type="Redirect" url="https://keyman.com/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /support.php" stopProcessing="true">
                    <match url="^support\.php" />
                    <action type="Redirect" url="https://help.keyman.com/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /testimonials.php" stopProcessing="true">
                    <match url="^testimonials\.php" />
                    <action type="Redirect" url="https://keyman.com/testimonials" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <!-- 2019-08-19 redirect Keyman Developer pages -->

                <rule name="Redirect /keymandev/register" stopProcessing="true">
                    <match url="^keymandev/register" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /keymandev/documentation" stopProcessing="true">
                    <match url="^keymandev/(documentation|support)" />
                    <action type="Redirect" url="https://help.keyman.com/developer" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /keymandev pages" stopProcessing="true">
                    <match url="(^keymandev/(.+)\.php)|(^keymandev(/?))" />
                    <action type="Redirect" url="https://keyman.com/developer/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /keymandev/download[s]" stopProcessing="true">
                    <match url="^keymandev/download" />
                    <action type="Redirect" url="https://keyman.com/developer/download" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /keymandev/quality/" stopProcessing="true">
                    <match url="^keymandev/quality/(whitepaper.+\.pdf)" />
                    <action type="Redirect" url="https://help.keyman.com/developer/keyboards/whitepaper/{R:1}" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /keymandev/visualkeyboard.dtd" stopProcessing="true">
                    <match url="^keymandev/visualkeyboard.dtd" />
                    <action type="Redirect" url="https://api.keyman.com/schemas/visualkeyboard/visualkeyboard.dtd" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <!-- 2019-08-19 redirect Keymanweb pages -->

                <rule name="Redirect /keymanweb bookmarklet" stopProcessing="true">
                    <match url="^keymanweb/bookmarklet\.php" />
                    <action type="Redirect" url="https://keyman.com/bookmarklet/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="Redirect /keymanweb pages" stopProcessing="true">
                    <match url="^keymanweb" />
                    <action type="Redirect" url="https://keyman.com/developer/keymanweb/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <!-- 2019-08-19 redirect Keyman pages: see keyman/web.config -->


                <!-- 2019-09-30 redirect embedded purchase pages to a page with license information -->

                <rule name="8.0/9.0 inline wizard" stopProcessing="true">
                    <match url="^buy/[89]0/wizard.php" />
                    <action type="Redirect" url="https://keyman.com/downloads/archive/legacy-embed.php" redirectType="Permanent" />
                </rule>

                <!-- 2019-08-19 shutdown pages that have no redirect to a helpful information page -->

                <rule name="buy ctc08, pay, search, tsactsrv, video" stopProcessing="true">
                    <match url="^(buy|ctc08|pay|search|tsactsrv|video)(/.*)?$" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="account pages" stopProcessing="true">
                    <match url="^account/(activate|country|create|firsttime|register)\.php" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="root pages" stopProcessing="true">
                    <match url="^(about|code|contact|news|newsitem|oldnews|pricelist|privacy|resellers|sendmessage|services|sitefeedback|terms)\.php.*$" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="orderform.pdf" stopProcessing="true">
                    <match url="^(orderform\.pdf)$" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>


                <!-- 2019-12-18 Rewrite submitdiag.php to api.keyman.com -->

                <rule name="submitdiag" stopProcessing="true">
                    <match url="^prog/submitdiag.php" />
                    <action type="Rewrite" url="https://api.keyman.com/desktop/10.0/submitdiag" />
                    <serverVariables>
                        <set name="HTTP_X_UNPROXIED_URL" value="https://api.keyman.com/desktop/10.0/submitdiag" />
                        <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" /> 
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>          
                </rule>

                <rule name="partners" stopProcessing="true">
                    <match url="^partners" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <!-- download_direct -->

                <rule name="download_direct/charident.exe" stopProcessing="true">
                    <match url="^download_direct/charident.exe" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="download_direct/importkeyboard.exe" stopProcessing="true">
                    <match url="^download_direct/importkeyboard.exe" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="download_direct/keymandesktop*" stopProcessing="true">
                    <match url="^download_direct/keymandesktop.+" />
                    <action type="Redirect" url="https://downloads.keyman.com/windows/stable/" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <rule name="download_direct/keymandeveloper*" stopProcessing="true">
                    <match url="^download_direct/keymandeveloper.+" />
                    <action type="Redirect" url="https://downloads.keyman.com/developer/stable/" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        </staticContent>
    </system.webServer>
</configuration>
