<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        <rewrite>
			<rules>
				<rule name="Redirect home page" stopProcessing="true">
					<match url="^index.php|^$" />
					<conditions logicalGrouping="MatchAll">
					</conditions>
					<action type="Redirect" url="http://help.keyman.com/products/desktop/" />
				</rule>
				<rule name="Redirect version history" stopProcessing="true">
					<match url="^versionhistory([^/]*)(\.php)$" />
					<conditions logicalGrouping="MatchAll">
					</conditions>
					<action type="Redirect" url="http://help.keyman.com/products/desktop/versionhistory{R:1}.php" />
				</rule>
                <rule name="Redirect /70/" stopProcessing="true">
                    <match url="^70/([^/]+)(\.html)$" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Redirect" url="http://help.keyman.com/products/desktop/7.0/{R:1}.php" />
                </rule>
                <rule name="Redirect /70/index.html" stopProcessing="true">
                    <match url="^70(/)?$" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Redirect" url="http://help.keyman.com/products/desktop/7.0/" />
                </rule>
                <rule name="Redirect /help/ (desktop 6.2)" stopProcessing="true">
                    <match url="^help/(.*)$|^help$" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Redirect" url="http://help.keyman.com/products/desktop/6.0/{R:1}" />
                </rule>
                <rule name="Redirect /5.1/" stopProcessing="true">
                    <match url="^5.1/(.*)$|^5.1$" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Redirect" url="http://help.keyman.com/products/desktop/5.0/5.1/specification.pdf" />
                </rule>
                <rule name="Redirect /km5/" stopProcessing="true">
                    <match url="^km5/(.*)$|^km5$" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Redirect" url="http://help.keyman.com/products/desktop/5.0/{R:1}" />
                </rule>
                <rule name="Redirect /km4/" stopProcessing="true">
                    <match url="^km4/(.*)$|^km4$" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Redirect" url="http://help.keyman.com/products/desktop/4.0/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>