<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="FAQMap" defaultValue="">
                    <add key="/keyman/support/faq001.php" value="2" />
                    <add key="/keyman/support/faq002.php" value="3" />
                    <add key="/keyman/support/faq003.php" value="4" />
                    <add key="/keyman/support/faq004.php" value="5" />
                    <add key="/keyman/support/faq005.php" value="6" />
                    <add key="/keyman/support/faq006.php" value="7" />
                    <add key="/keyman/support/faq007.php" value="8" />
                    <add key="/keyman/support/faq008.php" value="9" />
                    <add key="/keyman/support/faq009.php" value="10" />
                    <add key="/keyman/support/faq010.php" value="11" />
                    <add key="/keyman/support/faq011.php" value="14" />
                    <add key="/keyman/support/faq012.php" value="15" />
                    <add key="/keyman/support/faq013.php" value="12" />
                    <add key="/keyman/support/faq014.php" value="13" />
                </rewriteMap>
            </rewriteMaps>

            <rules>
                <rule name="Rewrite FAQ Rule">
                    <match url=".*" />
                    <conditions>
                        <add input="{FAQMap:{REQUEST_URI}}" pattern="(.+)" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://help.keyman.com/knowledge-base/{C:1}" />
                </rule>
                <rule name="Rewrite support/FAQ.php">
                    <match url="faq.php" />
                    <action type="Redirect" url="https://help.keyman.com/knowledge-base/" />
                </rule>
                <rule name="Rewrite support/sysreq.php">
                    <match url="sysreq.php" />
                    <action type="Redirect" url="http://help.keyman.com/products/desktop/9.0/docs/about_requirements.php" />
                </rule>
                <rule name="Rewrite support/index.php">
                    <match url="^(|index.php)$" />
                    <action type="Redirect" url="http://help.keyman.com/products/desktop/9.0/" />
                </rule>
                <rule name="locale editor">
                  <match url="^locale" />
                  <action type="Redirect" url="https://help.keyman.com/products/desktop/12.0/docs/advanced_locale_edit.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
