<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect index.php" stopProcessing="true">
                    <match url="^index\.php$" />
                    <conditions>
                        <!-- Exceptions: allow details and search to proceed -->
                        <add input="{QUERY_STRING}" pattern="^$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="/forums/" appendQueryString="false" />
                </rule>

                <rule name="Redirect index.php with category" stopProcessing="true">
                    <match url="^(index\.php)?$" />
                    <conditions>
                        <!-- Exceptions: allow details and search to proceed -->
                        <add input="{QUERY_STRING}" pattern="^ParentForumCategoryID=(\d+)$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="index.php@parentforumcategoryid={C:1}.html" appendQueryString="false" />
                </rule>

                <rule name="Redirect category.php" stopProcessing="true">
                    <match url="^(category\.php)?$" />
                    <conditions>
                        <!-- Exceptions: allow details and search to proceed -->
                        <add input="{QUERY_STRING}" pattern="^ForumCategoryID=(\d+)$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="category.php@forumcategoryid={C:1}.html" appendQueryString="false" />
                </rule>

                <rule name="Redirect topic.php" stopProcessing="true">
                    <match url="^(topic\.php)?$" />
                    <conditions>
                        <!-- Exceptions: allow details and search to proceed -->
                        <add input="{QUERY_STRING}" pattern="^ForumTopicID=(\d+)$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="topic.php@forumtopicid={C:1}.html" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
