<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect all keyboard searches" stopProcessing="true">
                    <match url="^downloads/keyboards.*" />
                    <conditions>
                        <!-- Exceptions: allow details and search to proceed -->
                        <add input="{QUERY_STRING}" pattern="^$" ignoreCase="false" />
                        <add input="{REQUEST_URI}" pattern="^downloads/keyboards/(details|search)\.php" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://keyman.com/keyboards" appendQueryString="false" />
                </rule>
                <rule name="Redirect /keyman/downloads" stopProcessing="true">
                    <match url="^downloads" />
                    <action type="Redirect" url="https://keyman.com/desktop/download" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Redirect download.php" stopProcessing="true">
                    <match url="^download(\.php|/)" />
                    <action type="Redirect" url="https://keyman.com/desktop/download.php" appendQueryString="false" />
                </rule>
                <rule name="Redirect download*.php" stopProcessing="true">
                    <match url="^download([a-z]+)\.php" />
                    <action type="Redirect" url="https://keyman.com/downloads/archive/" appendQueryString="false" />
                </rule>
                <rule name="Redirect faq.php" stopProcessing="true">
                    <match url="^faq\.php" />
                    <action type="Redirect" url="https://help.keyman.com/products/desktop/9.0/docs/common.php" appendQueryString="false" />
                </rule>
                <rule name="Redirect feature pages" stopProcessing="true">
                    <match url="^(unicode|info|trialpay|toolbox|start|setup|new|language-switching|languages|keyboards|intro|help|features|expertise|everywhere|editions|compatibility|benefits|index)\.php$|^$" />
                    <action type="Redirect" url="https://keyman.com/desktop/" appendQueryString="false" />
                </rule>
                <rule name="Redirect /keyman/register etc" stopProcessing="true">
                    <match url="^(register|upgrade|buy\.php|corpedition\.php|upgrade\.php)" />
                    <action type="Redirect" url="/closed" redirectType="Permanent" appendQueryString="false" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
